* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
  margin-bottom: 7px;
}

.card {
  width: 350px;
  text-align: center;
  margin: 50px auto 0;
  padding: 7px;
}

.bg-dark {
  background-color: #3e3e40;
}

.bg-light {
  background-color: #f2f3f5;
}

.dato {
  padding: 5px 0;
  font-size: 18px;
  margin-top: 7px;
}

.picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.boton-carta {
  background-color: #f2f3f5;
  color: #3e3e40;
  width: 65px;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
